.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 20rem 10rem;
}

.joke-card {
  width: 50%;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.joke-card__header {
  font-size: 3rem;
  margin-bottom: 8rem;
}

.joke-card__setup {
  font-size: 2rem;
  font-weight: 400;
}

.joke-card__punchline {
  font-size: 2.1rem;
  font-weight: 500;
}

.app__button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  background-image: linear-gradient(to bottom right, rgba(0, 153, 255, 0.85), rgba(0, 0, 153, 0.85));
  transition: all 0.2s ease;
}

.app__button:hover {
  background-image: linear-gradient(to bottom right, rgba(0, 153, 255, 1), rgba(0, 0, 153, 1));
  border: inherit;
  transform: translateY(-0.3rem) scale(1.01);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.app__button:active {
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.15rem) scale(1.01);
}